<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="projectMapper">

 <resultMap type="Project" id="project_rm">
   
      <!-- DB의 기본 키(복합키면 여러 개 작성) -->
      <id property="projectNo" column="PROJECT_NO" />

      <!-- DB의 일반 컬럼들 -->
      <result property="projectTitle" column="PROJECT_TITLE" />
      <result property="projectInfo" column="PROJECT_INFO" />
      <result property="createDate" column="CREATE_DATE" />
      <result property="manager" column="MANAGER" />
      <result property="userCount" column="USER_COUNT" />
   </resultMap>

	<!-- 프로젝트 생성 -->
   <insert id="create" parameterType="Project">
   		INSERT INTO "PROJECT" VALUES (
		SEQ_PROJECT_NO.NEXTVAL,
		#{projectTitle}, 
		#{projectInfo}, 
		DEFAULT,
		#{manager}
		)
		
		  <selectKey keyProperty="projectNo" resultType="int" order="AFTER">
		       SELECT SEQ_PROJECT_NO.CURRVAL FROM DUAL
		  </selectKey>
   </insert>
   
   <!-- 유저 프로젝트 생성 -->
   <insert id="insertUser">
   		INSERT INTO "USER_PROJECT" VALUES(
	    #{userNo}, 
	    #{projectNo} 
		)
   </insert>
	
	
</mapper>
