<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="workRestMapper">
	
	
    <resultMap type="Work" id="work_rm">
      <id     property="workNo" column="WORK_NO"/>
      <result property="workTitle" column="WORK_TITLE"/>
      <result property="workContent" column="WORK_CONTENT"/>
      <result property="createDate" column="CREATE_DT"/>
      <result property="updateDate" column="UPDATE_DT"/>
      <result property="dueDate" column="DUE_DT"/>
      <result property="workState" column="WORK_PR_ST"/>
      <result property="workPriority" column="WORK_PR"/>
      <result property="workManager" column="WORK_MN_NO"/>
      <result property="parentNo" column="PARENT_NO"/>
      <result property="projectNo" column="PROJECT_NO"/>
      
      <result property="workManagerName" column="USER_NAME"/>
      <result property="profileImage" column="PROFILE_IMG"/>
      <result property="projectName" column="PROJECT_TITLE"/>
      <result property="parentName" column="PARENT_TITLE"/>
   </resultMap>
	
	
	

   
	
	<update id="update">
		UPDATE WORK SET
		WORK_TITLE= #{workTitle},
		WORK_CONTENT=#{workContent},
		UPDATE_DT=SYSDATE,
		DUE_DT=#{dueDt},
		WORK_PR_ST=#{workPrSt},
		WORK_PR	  =#{workPr},
		WORK_MN_NO=#{workMnNo},
		PARENT_NO=#{parentNo},
		PROJECT_NO=#{projectNo}
		WHERE WORK_NO=#{workNo}
	</update>
	
	<delete id="delete">
		UPDATE WORK SET
		WORK_ST=0
		WHERE WORK_NO=#{workNo}
	</delete>
	
	
	
	
	<insert id="insertTable">
		INSERT INTO WORK
		VALUES(
		SEQ_WORK_NO.NEXTVAL, DEFAULT, DEFAULT, 
		DEFAULT, DEFAULT, DEFAULT,
		DEFAULT, DEFAULT, DEFAULT,
		DEFAULT, DEFAULT, #{projectNo}
		)
	</insert>
	<select id="selectWorkNo" resultType="_int">
		SELECT SEQ_WORK_NO.CURRVAL
		FROM DUAL
	</select>
	



	
	<update id="updateWorkTitle">
		UPDATE WORK SET
		WORK_TITLE= #{workTitle}
		WHERE WORK_NO=#{workNo}
		AND PROJECT_NO=#{projectNo}
	</update>
	<update id="updateDueDate">
		UPDATE WORK SET
		DUE_DT=#{dueDate}
		WHERE WORK_NO=#{workNo}
		AND PROJECT_NO=#{projectNo}
	</update>
	<update id="updateWorkState">
		UPDATE WORK SET
		WORK_PR_ST=#{workState}
		WHERE WORK_NO=#{workNo}
		AND PROJECT_NO=#{projectNo}
	</update>
	<update id="updateWorkPriority">
		UPDATE WORK SET
		WORK_PR	  =#{workPriority}
		WHERE WORK_NO=#{workNo}
		AND PROJECT_NO=#{projectNo}
	</update>
	<update id="updateWorkManager">
		UPDATE WORK SET
		WORK_MN_NO=#{workManager}
		WHERE WORK_NO=#{workNo}
		AND PROJECT_NO=#{projectNo}
	</update>
	<update id="updateParentNo">
		UPDATE WORK SET
		PARENT_NO=#{parentNo}
		WHERE WORK_NO=#{workNo}
		AND PROJECT_NO=#{projectNo}
	</update>
	
	
	
	
	
	<insert id="insertMywork">
		INSERT INTO WORK
		VALUES(
		SEQ_WORK_NO.NEXTVAL, DEFAULT, DEFAULT, 
		DEFAULT, DEFAULT, DEFAULT,
		DEFAULT, DEFAULT, DEFAULT,
		#{workManager}, DEFAULT, #{projectNo}
		)
	</insert>
	
	
	
	
	
	<insert id="insertStateBy">
		INSERT INTO WORK
		VALUES(
		SEQ_WORK_NO.NEXTVAL, DEFAULT, DEFAULT, 
		DEFAULT, DEFAULT, DEFAULT,
		DEFAULT, #{workState}, DEFAULT,
		DEFAULT, DEFAULT, #{projectNo}
		)
	</insert>
	<select id="selectWork" resultMap="work_rm">
		SELECT *
		FROM WORK
		WHERE WORK_NO=#{workNo}
	</select>
	
	
	
	
</mapper>
